@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a: 0;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body{
    background-color: black; 
    color: white;
}

/* Normal classes */
.left{
    width: 25vw;
    height: 100vh;
}
.right{
    width: 75vw;
    height: 100vh;
}
.hamburger{
    display: none;
}
.close{
    display: none;
}
.left>.home>.logo img{
    width: 120px;
}
.home{
    padding: 21px;
}
.library{
    padding: 21px;
    /* max-height: 200px; */
    /* overflow: scroll; */
}
.home ul li{
    margin-top: 21px;
    display: flex;
    width: 21px;
    list-style-type: none;
    gap: 15px; 
}
.heading{
    display: flex;
    width: 100%;
    gap: 15px; 
    font-size: 12px;
    margin-bottom: 25px;
}
.heading img{
    width: 21px;
}
.library{
    min-height: 50vh;
    position: relative;
}
.songList ul{
    list-style-type: decimal;
    /* padding: 0 20px; */
    font-size: 15px;
    color: grey;
    padding-bottom: 100px;
}
.songList ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    color: rgb(221, 221, 221);
}
.songList ul li span{
    color: grey;
}
.songList ul li:hover{
    background-color: rgb(29, 29, 29);
}
.songList ul li:active{
    background-color: rgb(29, 29, 29);
}
.frst{
    display: flex;
    gap: 15px;
}
.fist>.name{
    word-break: break-all;
}
.playNow{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.playNow img{
    height: 20px;
    width: 20px;
}
.playNow:hover{
    background-color: rgb(80, 80, 80);
}

.footer{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    gap: 14px;
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
}
.footer a{
    color: grey;
}
.right>.top{
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: black;
}
.right>.top>.outerLeft>.left{
    display: flex;
    align-items: center;
    gap: 30px;
    height: auto;
    width: auto;
}
.right>.top>.right{
    display: flex;
    gap: 25px;
    height: auto;
    width: auto;
}
.right>.top>.outerLeft>.left img{
    height: 16px;
}
.outerLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn{
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
}
.spotifyPlaylist{
    padding: 6px;
}
.center{
    padding: 30px 0px;
}
.center .head .cardContainer{
    width: 100%;
}
.cardContainer{
    display: flex;
}
.head{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 160px;
    height: 220px;
    padding: 5px 5px 20px 5px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.03);
    /* opacity: 0.8; */
    background-color: rgb(36, 36, 36);
    --a: 1;
}
.card img{
    width: 150px;
    height: 150px;
    padding-bottom: 5px;
}
.card h3{
    font-size: 17px;
    padding-bottom: 5px;
}
.card p{
    font-size: 12px;
    color: rgb(179,179,178);
}
.card>.play{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 95px;
    right: 12px;
    border-radius: 50%;
    background-color: rgb(31,215,97);
    opacity: 0;
    transition: all 0.2s ease-out;
    opacity: var(--a);
}
.card>.play:hover{
    background-color: rgb(65, 230, 125);
    scale: 1.05;
}
.card>.play img{ 
    width: 25px;
    height: 25px;
}
.box h3{
    font-size: 17px;
    margin-bottom: 10px;
}
.box ul li{
    font-size: 16px;
    color: rgb(179,179,178);
    list-style-type: none;
    margin-bottom: 6px;
}
.collection{
    padding-bottom: 70px;
}
.bottom{
    border-bottom: 1px solid;
    border-color: rgb(179,179,178);
    margin-top: 30px;
    padding-bottom: 30px;
}
.bottom>.box{
    min-width: 20%;
    padding: 15px;
}
.bottom>.box>.social img{
    width: 18px;
}
.bottom>.box>.social button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: rgb(179,179,178);
    border: none;
    border-radius: 50%;
}
.social{
    width: 100%;
    justify-content: center;
    gap: 15px;
}
.bottom-last{
    padding: 30px 20px 50px;
}
.bottom-last p{
    font-size: 14px;
    color: rgb(179,179,178);
    font-weight: 400;
}
.playbar{
    /* padding: 0 40px; */
    border: 1px solid black;
    position: sticky;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(18 18 18);
    background: linear-gradient(0deg, rgb(14, 14, 14) 0%, rgb(26, 26, 26) 50%, rgb(41, 41, 41) 100%);
    border-radius: 20px;
}
.songButtonsBig{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: rgb(177, 177, 177);
    position: relative;
}
.playbar>.songButtonsBig>.songinfo{
    position: absolute;
    left: 180px;
}
/* .playbar>.songButtonsBig>.songtime{
    position: absolute;
    right: 250px;
} */
.playbar>.songButtonsBig>.timeNvolume{
    position: absolute;
    right: 120px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.timeNvolume>.songvolume{
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeNvolume .songvolume .range{
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeNvolume .songvolume .range input{
    width: 80px;
    height: 5px;
    cursor: pointer;
    visibility: hidden;
}
.playbar>.songButtonsBig>.songbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.playbar>.songButtonsBig>.songbuttons div{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.playbar>.songButtonsBig>.songbuttons div:hover{
    background-color: rgb(66, 66, 66);
}
.playbar>.songButtonsBig>.songbuttons img{
    width: 20px;
    height: 20px;
}
.seekBar{
    height: 2px;
    width: 95%;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    position: relative;
    cursor: pointer;
}
.seekBar>.circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transition: left 0.5s;
    position: absolute;
    top: -3px;
    left: 0%;
}
.songButtonsBig{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.songbuttons div{
    cursor: pointer;
}

@media (max-width: 800px) {
    .container>.left{
        background-color: black;
        position: absolute;
        left: -110%;
        transition: all .3s;
        z-index: 1;
        width: 320px;
        padding: 0;
    }
    .container{
        margin: 0;
    }
    .right{
        width: 100vw;
    }
    .hamburger{
        display: block;
        /* position: absolute; */
        top: 0px;
        left: 0px;
    }
    .close{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    /* .playbar{
        width: ;

    } */
}